name: GKE Deploy or Restart

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  deploy:
    name: Deploy to GKE
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/167189844279/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER_NAME }} \
            --region ${{ secrets.GKE_LOCATION }} \
            --project ${{ secrets.GCP_PROJECT_ID }}

      - name: Restart Pods in GKE
        run: |
          kubectl rollout restart deployment hello-nginx
          kubectl rollout status deployment hello-nginx
